*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.main{
    width: 100%;
    height: 100%;
    background-color: rgb(120, 169, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 75%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

.panel{
    padding: 0 20%;
    width: 100%;
    height: 80px;
    background-color: #3d3da5;
    display: flex;
    justify-content: center;

}
.value{
    text-align: center;
    min-width: 40px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 15px;
}
.elem{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.game-window{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.elem h2{
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
}

.bubble{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center ;
    border-radius: 50%;
    background-color: #3d3da5 ;
}

.bubble:hover{
    cursor: pointer;
    background-color: #26266a;
}